Repository adopted-ember-addons/ember-metrics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

Leverage qunit-sinon-assertions
  package.json
  tests/test-helper.js
  tests/unit/metrics-adapters/amplitude-test.js
  tests/unit/metrics-adapters/azure-app-insights-test.js
  tests/unit/metrics-adapters/facebook-pixel-test.js
  tests/unit/metrics-adapters/google-analytics-test.js
  tests/unit/metrics-adapters/google-tag-manager-test.js
  tests/unit/metrics-adapters/intercom-test.js
  tests/unit/metrics-adapters/mixpanel-test.js
  tests/unit/metrics-adapters/pendo-test.js
  tests/unit/metrics-adapters/piwik-test.js
  tests/unit/services/metrics-test.js
  tests/unit/utils/remove-from-dom-test.js
  yarn.lock
Due: eslint --fix --cache, prettier --write

Deprecate AmplitudeAdapter Identify Event
  addon/metrics-adapters/amplitude.js
Due: eslint --fix --cache

Resolve new lint infractions
  tests/unit/metrics-adapters/google-analytics-test.js
  tests/unit/services/metrics-test.js
  tests/unit/utils/object-transforms-test.js
Due: eslint --fix --cache

[refactor] `object-transforms` to `.ts`
  addon/utils/object-transforms.js
  addon/utils/object-transforms.ts
  tests/unit/utils/object-transforms-test.js
Due: eslint --fix --cache

[refactor] `object-transforms#isPresent` -> `hasOwnProperties`
  addon/metrics-adapters/amplitude.js
  addon/metrics-adapters/mixpanel.js
  addon/metrics-adapters/pendo.js
  addon/utils/object-transforms.ts
  tests/unit/utils/object-transforms-test.js
Due: eslint --fix --cache

[refactor] standardize util imports
  addon/metrics-adapters/facebook-pixel.js
  addon/metrics-adapters/google-analytics.js
  addon/metrics-adapters/google-tag-manager.js
  addon/metrics-adapters/intercom.js
  addon/metrics-adapters/segment.js
  tests/unit/utils/object-transforms-test.js
Due: eslint --fix --cache

[refactor] move `utils` to `-private` directory
  addon/-private/utils/object-transforms.ts
  addon/-private/utils/remove-from-dom.ts
  addon/metrics-adapters/amplitude.js
  addon/metrics-adapters/azure-app-insights.js
  addon/metrics-adapters/facebook-pixel.js
  addon/metrics-adapters/google-analytics.js
  addon/metrics-adapters/google-tag-manager.js
  addon/metrics-adapters/intercom.js
  addon/metrics-adapters/mixpanel.js
  addon/metrics-adapters/pendo.js
  addon/metrics-adapters/piwik.js
  addon/metrics-adapters/segment.js
  app/utils/object-transforms.js
  app/utils/remove-from-dom.js
  tests/unit/utils/object-transforms-test.js
Due: eslint --fix --cache

[chore] remove exposing private utils to `app`
  app/utils/object-transforms.js
  app/utils/remove-from-dom.js
  tests/unit/utils/remove-from-dom-test.js
Due: eslint --fix --cache

Modernize Segment Tests
  tests/unit/metrics-adapters/segment-test.js
Due: eslint --fix --cache

Release 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update contributor faces
  README.md
Due: prettier --write

Remove deprecated Amplitude behaviour
  addon/metrics-adapters/amplitude.js
  tests/unit/metrics-adapters/amplitude-test.js
Due: eslint --fix --cache

test: add failing lifecycle test
  tests/acceptance/lifecycle-test.ts
Due: eslint --fix --cache

fix(metrics service): replace object iterator with Object.values
  addon/services/metrics.js
Due: eslint --fix --cache

Release 1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

Update contributor-faces
  README.md
Due: prettier --write

Copy over changelog updates from 1-4-stable
  CHANGELOG.md
Due: prettier --write

Refactor to native classes
  UPGRADING.md
  addon/metrics-adapters/amplitude.js
  addon/metrics-adapters/azure-app-insights.js
  addon/metrics-adapters/base.js
  addon/metrics-adapters/facebook-pixel.js
  addon/metrics-adapters/google-analytics.js
  addon/metrics-adapters/google-tag-manager.js
  addon/metrics-adapters/intercom.js
  addon/metrics-adapters/mixpanel.js
  addon/metrics-adapters/pendo.js
  addon/metrics-adapters/piwik.js
  addon/metrics-adapters/segment.js
  addon/services/metrics.js
  tests/dummy/app/metrics-adapters/local-dummy-adapter.js
  tests/unit/metrics-adapters/amplitude-test.js
  tests/unit/metrics-adapters/azure-app-insights-test.js
  tests/unit/metrics-adapters/facebook-pixel-test.js
  tests/unit/metrics-adapters/google-analytics-test.js
  tests/unit/metrics-adapters/google-tag-manager-test.js
  tests/unit/metrics-adapters/intercom-test.js
  tests/unit/metrics-adapters/mixpanel-test.js
  tests/unit/metrics-adapters/pendo-test.js
  tests/unit/metrics-adapters/piwik-test.js
  tests/unit/metrics-adapters/segment-test.js
Due: eslint --fix --cache, prettier --write

Apply missing spread operator to method calls
  addon/services/metrics.js
Due: eslint --fix --cache

Release 1.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

Add test coverage for service convenience methods
  tests/unit/services/metrics-test.js
Due: eslint --fix --cache

Allow embroiderOptimized to fail
  config/ember-try.js
Due: eslint --fix --cache

Tighten up npmignore
  .npmignore
  blueprints/.jshintrc
Due: none

Remove access to options
  addon/services/metrics.js
Due: eslint --fix --cache

Reexport the built-in MetricsAdapters from the app folder
  app/metrics-adapters/amplitude.js
  app/metrics-adapters/azure-app-insights.js
  app/metrics-adapters/base.js
  app/metrics-adapters/facebook-pixel.js
  app/metrics-adapters/google-analytics.js
  app/metrics-adapters/google-tag-manager.js
  app/metrics-adapters/intercom.js
  app/metrics-adapters/mixpanel.js
  app/metrics-adapters/pendo.js
  app/metrics-adapters/piwik.js
  app/metrics-adapters/segment.js
  config/ember-try.js
  index.js
Due: eslint --fix --cache

Update Segment snippet (4.15.2)
  addon/metrics-adapters/segment.js
Due: eslint --fix --cache

Adding Segment a custom proxy domain option
  README.md
  addon/metrics-adapters/segment.js
Due: eslint --fix --cache, prettier --write

feat: add matomo-tag-manager adapter
  README.md
  addon/metrics-adapters/matomo-tag-manager.js
  app/metrics-adapters/matomo-tag-manager.js
  tests/dummy/config/environment.js
  tests/unit/metrics-adapters/matomo-tag-manager-test.js
Due: eslint --fix --cache, prettier --write

fix typo in matomo-tag-manager example
  README.md
  tests/unit/metrics-adapters/matomo-tag-manager-test.js
Due: eslint --fix --cache, prettier --write

Release 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

Revert "Refactor to native classes"
  UPGRADING.md
  addon/metrics-adapters/amplitude.js
  addon/metrics-adapters/azure-app-insights.js
  addon/metrics-adapters/base.js
  addon/metrics-adapters/facebook-pixel.js
  addon/metrics-adapters/google-analytics.js
  addon/metrics-adapters/google-tag-manager.js
  addon/metrics-adapters/intercom.js
  addon/metrics-adapters/matomo-tag-manager.js
  addon/metrics-adapters/mixpanel.js
  addon/metrics-adapters/pendo.js
  addon/metrics-adapters/piwik.js
  addon/metrics-adapters/segment.js
  addon/services/metrics.js
  tests/dummy/app/metrics-adapters/local-dummy-adapter.js
  tests/unit/metrics-adapters/amplitude-test.js
  tests/unit/metrics-adapters/azure-app-insights-test.js
  tests/unit/metrics-adapters/facebook-pixel-test.js
  tests/unit/metrics-adapters/google-analytics-test.js
  tests/unit/metrics-adapters/google-tag-manager-test.js
  tests/unit/metrics-adapters/intercom-test.js
  tests/unit/metrics-adapters/matomo-tag-manager-test.js
  tests/unit/metrics-adapters/mixpanel-test.js
  tests/unit/metrics-adapters/pendo-test.js
  tests/unit/metrics-adapters/piwik-test.js
  tests/unit/metrics-adapters/segment-test.js
Due: eslint --fix --cache, prettier --write

Release 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

Release 2.0.0-beta.1
  CHANGELOG.md
  package.json
Due: prettier --write

add deprecation warning for top-level key prefixing in GoogleTagManager adapter
  addon/metrics-adapters/google-tag-manager.js
Due: eslint --fix --cache

Release 1.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

Tweak changelog
  CHANGELOG.md
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,ts}
  prettier --write: any of: *.{css,html,json,md,yml}
