Repository adopted-ember-addons/ember-metrics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

Sync changelog
  CHANGELOG.md
Due: prettier --write

Remove DNT mechanism from service
  addon/services/metrics.js
  tests/unit/services/metrics-test.js
Due: eslint --fix --cache

remove `event` prefix from top-level keys in GoogleTagManager adapter
  addon/metrics-adapters/google-tag-manager.js
  tests/unit/metrics-adapters/google-tag-manager-test.js
Due: eslint --fix --cache

add hotjar adapter
  addon/metrics-adapters/hotjar.js
  app/metrics-adapters/hotjar.js
  tests/dummy/config/environment.js
  tests/unit/metrics-adapters/hotjar-test.js
Due: eslint --fix --cache

Add Hotjar to README
  README.md
Due: prettier --write

Fix tests
  tests/unit/metrics-adapters/google-analtics-four-test.js
Due: eslint --fix --cache

Add GA4 adapter
  addon/metrics-adapters/google-analytics-four.js
  app/metrics-adapters/google-analytics-four.js
  tests/dummy/config/environment.js
  tests/unit/metrics-adapters/google-analtics-four-test.js
Due: eslint --fix --cache

Spread page_view options and include autoTracking config
  README.md
  addon/metrics-adapters/google-analytics-four.js
Due: eslint --fix --cache, prettier --write

Use page and title for trackPage
  addon/metrics-adapters/google-analytics-four.js
  tests/unit/metrics-adapters/google-analtics-four-test.js
Due: eslint --fix --cache

Fix tests and change config
  README.md
  addon/metrics-adapters/google-analytics-four.js
  tests/unit/metrics-adapters/google-analtics-four-test.js
Due: eslint --fix --cache, prettier --write

ci: Remove default scenario with jQuery
  .github/workflows/ci.yml
  config/ember-try.js
Due: eslint --fix --cache, prettier --write

Fixed misspellings
  README.md
Due: prettier --write

Add link to ember-metrics-simple-analytics adapter
  README.md
Due: prettier --write

Ensure metrics adapters have owners to fix di (#541)
  addon/services/metrics.js
Due: eslint --fix --cache

Add warning that ember-metrics won't activate if do not track is true
  addon/services/metrics.js
Due: eslint --fix --cache

add config for allowing native domain names
  README.md
  addon/metrics-adapters/pendo.js
  tests/dummy/config/environment.js
  tests/unit/metrics-adapters/pendo-test.js
Due: eslint --fix --cache, prettier --write

Changed push
  addon/metrics-adapters/matomo-tag-manager.js
Due: eslint --fix --cache

Switched from https to http
  addon/metrics-adapters/matomo-tag-manager.js
Due: eslint --fix --cache

Readded https
  addon/metrics-adapters/matomo-tag-manager.js
Due: eslint --fix --cache

Replaced all
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  addon/metrics-adapters/amplitude.js
  addon/metrics-adapters/azure-app-insights.js
  addon/metrics-adapters/base.js
  addon/metrics-adapters/facebook-pixel.js
  addon/metrics-adapters/google-analytics-four.js
  addon/metrics-adapters/google-analytics.js
  addon/metrics-adapters/google-tag-manager.js
  addon/metrics-adapters/hotjar.js
  addon/metrics-adapters/intercom.js
  addon/metrics-adapters/matomo-tag-manager.js
  addon/metrics-adapters/mixpanel.js
  addon/metrics-adapters/pendo.js
  addon/metrics-adapters/piwik.js
  addon/metrics-adapters/segment.js
  addon/services/metrics.js
  blueprints/metrics-adapter/index.js
  package.json
  tsconfig.json
Due: eslint --fix --cache, prettier --write

Changed trackpage to _paq
  addon/metrics-adapters/matomo-tag-manager.js
Due: eslint --fix --cache

Updated package.json
  package.json
Due: prettier --write

support Ember v4
  .github/workflows/ci.yml
  config/ember-try.js
  package.json
  yarn.lock
Due: eslint --fix --cache, prettier --write

drop support for node < 18
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write

fix build
  package.json
  yarn.lock
Due: prettier --write

fix test cases for Ember 3.20 and 3.24
  config/ember-try.js
Due: eslint --fix --cache

not ready for Ember v5 and recent Embroider yet
  .github/workflows/ci.yml
Due: prettier --write

@ember/string v4 is not compatible with Ember < 3.28
  config/ember-try.js
Due: eslint --fix --cache

add @ember/string as peer dep and run tests for Ember v5
  .github/workflows/ci.yml
  config/ember-try.js
  package.json
Due: eslint --fix --cache, prettier --write

ember-resolver v8 is not compatible with Ember v5
  config/ember-try.js
Due: eslint --fix --cache

drop support for Ember < 3.28
  .github/workflows/ci.yml
  README.md
  config/ember-try.js
Due: eslint --fix --cache, prettier --write

upgrade with Ember CLI v4.12 blueprints
  .ember-cli
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  .npmignore
  .prettierignore
  .prettierrc.js
  .stylelintignore
  .stylelintrc.js
  CONTRIBUTING.md
  config/environment.js
  ember-cli-build.js
  package.json
  tests/dummy/app/index.html
  tests/dummy/app/styles/app.css
  tests/dummy/config/ember-cli-update.json
  tests/dummy/config/ember-try.js
  tests/dummy/config/environment.js
  tests/dummy/config/targets.js
  tests/helpers/.gitkeep
  tests/helpers/index.js
  tests/index.html
  vendor/.gitkeep
  yarn.lock
Due: eslint --fix --cache, prettier --write

downgrade to @ember/string v3
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,ts}
  prettier --write: any of: *.{css,html,json,md,yml}
